* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  --primary-bg-color: #161c21;
  --secondary-bg-color: #1f272f;
  --warning-color: #fd5d5c;
  /* --fore-color: #2aad9d; */
  --fore-color: #43cbc4;
  --fore-bright-color: #18eada;
}
